@font-face {
    font-family: 'AirstreamRegular';
    src: url('font/Airstream-webfont.eot');
    src: url('font/Airstream-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Airstream-webfont.woff') format('woff'),
         url('font/Airstream-webfont.ttf') format('truetype'),
         url('font/Airstream-webfont.svg#AirstreamRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.ui-slider-horizontal .ui-state-default {
    background: transparent url(../img/slider/bot.png) no-repeat scroll 50% 50% !important;
}
.ui-slider .ui-slider-handle {
    width: 2em !important;
    height: 1.3em !important;
}
body {
    padding-top: 50px;
}
#banner {
    padding-top: 10px;
}
#banner div {
    margin:0 !important;
}
.navbar-inner {
    background: transparent url(../img/ieditor-banner.png) repeat-x;
    height: 40px;
}
h6 {
    color: white;
    text-shadow: 0 1px 0 #444;
}
#logo {
    margin: 0;
    font: 38px 'AirstreamRegular', Arial, sans-serif;letter-spacing: 0;
    color: white;
    position: relative;
    top: -11px;
    text-shadow: 0 2px 2px #444;
}

.CodeMirror {
    border: 1px solid #eee;
    float: left;
}

.CodeMirror-scroll {
    height: auto;
    min-height: 300px;
    overflow-y: hidden;
    overflow-x: auto;
}

form div.CodeMirror:nth-child(4) {
  background: whitesmoke url('../img/Terminal.png') no-repeat right top;
  width: 49%;
}

form div.CodeMirror:nth-child(2) {
  background: white url('../img/editor-sign.png') no-repeat right top;
  width: 50%;
}



td {
    padding-right: 20px;
}

body {
  background: url('../img/bg-img.jpg');
}

textarea {
  background: white;
}

#console {
    text-align: center;
}

.help a {
    color: white;
    text-shadow: 0 1px 0 #444;
    text-decoration: underline;
}
.help {
    width: 100px;
}

#debug {
  margin:0;
  position: relative;
  top:-5px;
}

.hist_timeline_text {
   width:120px;
   display:block;
   float:left;
}

.align-left {
  text-align:left;
}

.header_title {
  width:80px;
  display:block;
  float:left;
}

#language {
  margin:0;
  position:relative;
  top:-5px;
}

#console {
  widht:49%;
  background: #eee;
  margin:0;
  position:relative;
  display:none;
}

#close-debug {
  position:absolute;
  top:0;
  right:0;
  cursor:pointer;
}